.wrapper {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-areas:  "header header header header"
                        "content1 content2 content3 footer"
                        "content4 content5 content6 footer";
  grid-gap: 10px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 80px;
  color: white;
  text-align: center;
}

header {
  background-color: #f7ea00;
  grid-area: header;
}

main {
  background-color: #5EC9EA;
  grid-area: content1;
}

.C {
  background-color: #E836B1;
  grid-area: content2;
}

.D{
  background-color: #F7B93C;
  grid-area: content3;
}

.E{
  background-color: #ED5A5A;
  grid-area: content4;
}

.F{
  background-color: #41EFB9;
  grid-area: content5;
}

.G{
  background-color: #92E542;
  grid-area: content6;
}

footer{
  background-color: #E486EA;
  grid-area: footer;
}

@media screen and (max-width: 480px) {
  .wrapper {
    display: grid;
    grid-template-rows: 150px 100px 100px 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:  "header header header" 
                          "content1 content2 content3"
                          "content4 content5 content6"
                          "footer footer footer";
    grid-gap: 10px;
  }
}

/*
break points

https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile
*/
